<h1><%= ProductCategory.model_name.human(count:2) %></h1>
<div>
  <%= link_to t('buttons.back'), root_path, class: 'btn' %>
  <%= link_to link_to t('buttons.register', model: @products.model.model_name.human), new_product_category_path, class: 'btn' %>
</div>

<div>
  <% if @products.empty?%>
    <h3><%= t('.empty') %></h3>
  <% else %>
    <h3><%=t('.active_products') %></h3>
  <% end %>
</div>
<dl>
  <% @products.each do |product| %>
    <dt><%=  link_to product.name, product, class: 'btn' %></dt>
  <% end %>
</dl>