<div>
  <%= link_to 'Voltar', product_categories_path, class: 'btn' %>
  <%= link_to 'Editar produto', edit_product_category_path(@product), class: 'btn' %>
  <%= link_to 'Apagar produto', product_category_path(@product), method: :delete, class: 'btn' %>
</div>

<p><%= flash[:notice] %></p>

<table class='table'>
  <thead>
    <tr>
      <th><%= ProductCategory.human_attribute_name(:name) %></th>
      <th><%= ProductCategory.human_attribute_name(:code) %></th>
    </tr>
  </thead>
  <tbody>
     <tr class='data'>
      <th><%= @product.name %></th>
      <th><%= @product.code %></th>
    </tr> 
  </tbody>
</table>