<div class = 'devise-box'>
  <h1>Login</h1>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <ul><%= flash[:alert] %></ul>
    <div class="user-box">
      <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
    </div>
    <br>
    <div class="user-box">
      <%= f.password_field :password, autocomplete: "current-password", 
      placeholder: User.human_attribute_name(:password)  %>
    </div>
    <br>
    <% if devise_mapping.rememberable? %>
      <div>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
    <br>
    <br>
    <div>
      <%= f.submit t('buttons.login'), class: 'actions'%>
    </div>
  <% end %>
</div>
<%# render "devise/shared/links" %>
