<h1><%= Promotion.model_name.human(count:2)%></h1>
<div>
  <%= link_to t('buttons.back'), root_path , class: 'btn'%>
  <%= link_to t('buttons.register', model: Promotion.model_name.human), new_promotion_path, class: 'btn'%>
</div>
<br>
<div id="search">
  <%= t('.search_header') %>
  <%= form_with url: search_path, method: :get do |f| %>
    <br>
    <%= f.text_field :query %>
    <%= f.submit t('buttons.search'), class: 'btn' %>
  <% end %>
</div>

<div>
  <% if Promotion.all.empty? %>
    <h3><p><%= t('.empty') %></p></h3>
  <% end %>

    <% promo_approved = [] %>
    <% promo_pending = [] %>
    <% @promotions.each do |promotion| %>
      <% if promotion.approved? %>
        <% promo_approved << promotion%>
      <% else %>
        <% promo_pending << promotion%>
      <% end %>
    <% end %>

  <%#TODO: FAZ ISSO NUMA QUERY??  15:27 DA AULA%>
    <br>
    <% if promo_approved.any?%>
    <div id='approved'>
      <%= render partial: 'promotion', locals:{promotions: promo_approved, 
                                               header_title:t('headers.approved')}%>
    </div>
    <% end %>

    <% if promo_pending.any?%>
      <div id='pending'>
        <%= render partial: 'promotion', locals:{promotions: promo_pending, 
                                               header_title:t('headers.pending')} %>
      </div>
    <% end %>
</div>