<h1><%= Promotion.model_name.human(count:2)%></h1>
<div>
  <%= link_to t('buttons.back'), root_path , class: 'btn'%>
  <%= link_to t('buttons.register', model: Promotion.model_name.human), new_promotion_path, class: 'btn'%>
</div>
<div id="search">
  <%= form_with url: search_path, method: :get do |f| %>
    <br>
    <%= f.text_field :query, placeholder: t('.search_header'),  size:"30" %>
    <%= f.submit t('buttons.search'), class: 'btn' %>
  <% end %>
</div>
<div>
  <% if Promotion.all.empty? %>
    <h3><p><%= t('.empty') %></p></h3>
  <% end %>

    <br>
    <% if @promotions.approved.any?%>
    <div id='approved'>
      <%= render partial: 'promotion', locals:{promotions: @promotions.approved, 
                                               header_title:t('headers.approved')}%>
    </div>
    <% end %>

    <% if @promotions.pending.any?%>
      <div id='pending'>
        <%= render partial: 'promotion', locals:{promotions: @promotions.pending, 
                                               header_title:t('headers.pending')} %>
      </div>
    <% end %>
</div>