<div>
  <%= link_to 'Voltar', root_path , class: 'btn'%>
  <%= link_to 'Registrar uma promoção', new_promotion_path, class: 'btn'%>
</div>

<br><%= flash[:notice] %><br>

<div>
  <% if @promotions.empty? %>
    <h3><p>Nenhuma promoção cadastrada</p></h3>
  <% else %>
    <h3>Promoções ativas</h3>
  <% end%>
</div>
<dl>
<% @promotions.each do |promotion| %>
    <%=link_to promotion.name, promotion,class: 'btn'%>
    <dt>Descrição: <%= promotion.description %></dt>
    <dt>Desconto: <%= number_to_percentage promotion.discount_rate, precision:2, separator:',' %></dt>
    <br>
  <% end %>
</dl>