<div>
  <%= link_to "Voltar", promotions_path, class: 'btn' %>
  <%= link_to 'Apagar promoção', promotion_path(@promotion), method: :delete, :data => {:confirm => 'Are you sure?'}, class: 'btn'%>
    <% if @promotion.coupons.empty?%>
      <%= link_to 'Editar promoção', edit_promotion_path(@promotion), class:'btn' %>
    <% end %>
</div>

<h3><ins><%= "#{@promotion.name} - #{@promotion.description}" %><ins></h3>
<table class='table'>
  <thead>
    <tr>
      <th><%= Promotion.human_attribute_name(:code) %></th>
      <th><%= Promotion.human_attribute_name(:discount_rate) %></th>
     
      <th>  Quantidade </th>
      <th><%= Promotion.human_attribute_name(:expiration_date) %></th>
    </tr>
  </thead>
  <tbody>
     <tr class='data'>
      <td><%= @promotion.code %></td>
      <td><%= number_to_percentage @promotion.discount_rate, precision:2 %></td>
      <td><%= @promotion.coupon_quantity %></td>
      <td><%= l(@promotion.expiration_date)%></td>   <%# I18n.localize => l %>
    </tr> 
  </tbody>
</table>
<br>

<% if @promotion.coupons.empty?%>
    <%= link_to t('.generate_coupons'), generate_coupons_promotion_path(@promotion), method: :post, class: 'btn' %>
<% else %>
  <h3>Cupons ativos</h3>
<% end %>

  
  <% @promotion.coupons.each do |coupon| %>
    <div id="coupon-<%= coupon.code.parameterize %>">
      <p><%= coupon.code %> (<%= Coupon.human_attribute_name("status.#{coupon.status}")%>)</p>
      <% if coupon.active? %>
        <%= link_to 'Desativar', disable_coupon_path(coupon), method: :post,  class: 'btn' %>
      <% end %>
    </div>
  <% end %>