<div>
  <%= link_to "Voltar", promotions_path, class: 'btn' %>
  <%= link_to 'Apagar promoção', promotion_path(@promotion), method: :delete, class: 'btn'%>
    <% if @promotion.coupons.empty?%>
      <%= link_to 'Editar promoção', edit_promotion_path(@promotion), class:'btn' %>
    <% end %>
</div>

<p><%= flash[:notice] %></p>

<h3><ins><%= "#{@promotion.name} - #{@promotion.description}" %><ins></h3>
<table class='table'>
  <thead>
    <tr>
      <th>Código</th>
      <th>Desconto</th>
      <th>Quantidade</th>
      <th>Data de Expiração</th>
    </tr>
  </thead>
  <tbody>
     <tr class='data'>
      <th><%= @promotion.code %></th>
      <th><%= number_to_percentage @promotion.discount_rate, precision:2, separator:',' %></th>
      <th><%= @promotion.coupon_quantity %></th>
      <th><%= @promotion.expiration_date.strftime('%d/%m/%Y') %></th>
    </tr> 
  </tbody>
</table>
<br>

<% if @promotion.coupons.empty?%>
    <%= link_to 'Gerar cupons', generate_coupons_promotion_path(@promotion), method: :post, class: 'btn' %>
<% else %>
  <h3>Cupons ativos</h3>
  <% @promotion.coupons.each do |coupon| %>
    <p><%= coupon.code %></p>
  <% end %>
<% end %>