<div>
  <%= link_to t('buttons.back'), promotions_path, class: 'btn' %>

  <% if @promotion.coupons.active.empty? %>
    <%= link_to t('buttons.delete', model: Promotion.model_name.human), promotion_path(@promotion), method: :delete,class: 'btn'%>
  <% end%>

  <% if @promotion.coupons.empty?%>
    <%= link_to t('buttons.edit', model: Promotion.model_name.human), edit_promotion_path(@promotion), class:'btn' %>
  <% end %>
</div>

<h3><%= "#{@promotion.name} - #{@promotion.description}" %></h3>
<table id='promotion_table'>
  <thead>
    <tr>
      <th style='width: 70px'><%= Promotion.human_attribute_name(:code) %></th>
      <th style='width: 70px'><%= Promotion.human_attribute_name(:discount_rate) %></th>
      <th style='width: 70px'><%= Coupon.model_name.human(count:2)%> </th>
      <th style='width: 100px'><%= Promotion.human_attribute_name(:expiration_date) %></th>
    </tr>
  </thead>
  <tbody>
     <tr class='data'>
      <td><%= @promotion.code %></td>
      <td><%= number_to_percentage @promotion.discount_rate, precision:2 %></td>
      <td><%= @promotion.coupon_quantity %></td>
      <td><%= l(@promotion.expiration_date)%></td>   <%# I18n.localize => l %>
    </tr> 
  </tbody>
</table>
<br>

<% if @promotion.coupons.empty?%>
    <%= link_to t('.generate_coupons'), generate_coupons_promotion_path(@promotion), method: :post, class: 'btn' %>  <%# I18n.translate => t%>
<% else %>                                               <%# '.generate-coupons => lazy lookup, olhando dentro de promotions, dentro de show%>
  <h3><%= t('.active_coupons') %></h3>
<% end %>

<table id='coupon_table'>
    <thead>
      <tr >
        <th style='width: 100px'><%= Coupon.human_attribute_name(:code) %></th>
        <th style='width: 100px'><%= Coupon.human_attribute_name(:status) %></th>
        <th style='width: 100px'><%= t('headers.action') %></th>
      </tr>
    </thead>
  <% @promotion.coupons.each do |coupon| %>
    <tbody>
      <tr class='data'>
        <td><%= coupon.code %></td>
        <td ><%= Coupon.human_attribute_name("status.#{coupon.status}")%></td>
        <td id="action-<%= coupon.code.parameterize%>">
          <% if coupon.active? %>
            <%= link_to t('.disable'), disable_coupon_path(coupon), method: :post,  class: 'btn' %>
          <% else %>
             <%= link_to t('.enable'), enable_coupon_path(coupon),method: :post, class:'btn' %>
          <% end %>
        </td>
      </tr> 
    </tbody>
  <% end %>
 </table>