<div>
  <%= link_to "Voltar", promotions_path, class: 'btn' %>
  <%= link_to 'Apagar promoção', promotion_path(@promotion), method: :delete, class: 'btn'%>
    <% if @promotion.coupons.empty?%>
      <%= link_to 'Editar promoção', edit_promotion_path(@promotion), class:'btn' %>
    <% end %>
</div>

<p><%= flash[:notice] %></p>

<h3><ins><%= "#{@promotion.name} - #{@promotion.description}" %><ins></h3>
<table class='table'>
  <thead>
    <tr>
      <th><%= Promotion.human_attribute_name(:code) %></th>
      <th><%= Promotion.human_attribute_name(:discount_rate) %></th>
      <th><%= Promotion.human_attribute_name(:coupon_quantity) %></th>
      <th><%= Promotion.human_attribute_name(:expiration_date) %></th>
    </tr>
  </thead>
  <tbody>
     <tr class='data'>
      <th><%= @promotion.code %></th>
      <th><%= number_to_percentage @promotion.discount_rate, precision:2 %></th>
      <th><%= @promotion.coupon_quantity %></th>
      <th><%= l(@promotion.expiration_date)%></th>   <%# I18n.localize => l %>
    </tr> 
  </tbody>
</table>
<br>

<% if @promotion.coupons.empty?%>
    <%= link_to t('.generate_coupons'), generate_coupons_promotion_path(@promotion), method: :post, class: 'btn' %>
<% else %>
  <h3>Cupons ativos</h3>
  <% @promotion.coupons.each do |coupon| %>
    <p><%= coupon.code %></p>
  <% end %>
<% end %>