<!DOCTYPE html>
<html>
  <head>
    <title><%= t('headers.app_name') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class = 'body'>

    <nav class='nav-menu'>
      <%  if user_signed_in? %>
        <ul>
          <li> <%= link_to 'Home', root_path, class: 'btn_nav' %></li>
          <li><%= link_to  Promotion.model_name.human(count:2), promotions_path, class: 'btn_nav'%></li>
          <li><%= link_to  ProductCategory.model_name.human(count:2), product_categories_path, class: 'btn_nav'%></li>
          <li><%= link_to t('buttons.logout'),  destroy_user_session_path, method: :delete, class: 'btn_nav'%></li>
        </ul>
        <li class='user'><%= link_to current_user.email, user_path(current_user), class: 'btn_nav user' %></li>
      <% else %>
        <ul>
          <li><%= link_to t('buttons.register_user'), new_user_registration_path,class: 'btn_nav' %></li>
          <li><%= link_to t('buttons.login'), new_user_session_path,class: 'btn_nav'%></li>
        </ul>
      <% end %>
    </nav>
    <span id='flash' class ='flash'><%= flash[:notice] %></span>
    <div class='pag'>
     <%= yield %>
    </div>
  </body>
</html>
